!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "pt-BR", 'xml:lang' => 'pt-BR'}
  %head
    %title Ãrea do Administrador

    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=UTF-8"}
    %meta{:name => 'robots', :content => 'none'}
    = csrf_meta_tag

    = stylesheet_link_tag "admin"
    = stylesheet_link_tag "/fancybox/jquery.fancybox-1.3.0.css"

    = javascript_include_tag "jquery"
    = javascript_include_tag "/fancybox/jquery.fancybox-1.3.0.pack.js"
    = javascript_include_tag "rails", "admin"

    = yield :head

  %body
    #header
      = image_tag "admin/logo.png"
    #menu
      %ul

    #warning
      = yield :warning

    #body
      - unless flash[:notice].nil?
        %p{:class => 'flash_notice'}= flash[:notice]
      = yield
      #javascript_templates{:style => "display: none"}
        = yield :javascript_templates

