= link_to "Inserir Nov#{t('activerecord.attributes.<%= singular_table_name %>.gender')} #{t('activerecord.models.<%= singular_table_name %>')}", new_admin_<%= plural_table_name %>_path, :id => 'top_link', :class => 'link'

#list
  %ul
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %li
        = <%= singular_table_name %>.title
        = link_to image_tag('admin/document--pencil.png'), edit_admin_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => 'link', :title => 'Editar'
        = link_to image_tag('admin/cross.png'), [:admin, <%= singular_table_name %>], :confirm => "Você tem certeza que deseja excluir est#{t('activerecord.attributes.<%= singular_table_name %>.gender') == 'o' ? 'e' : 'a'} <%= singular_table_name %>?", :method => :delete, :class => 'link', :title => 'Excluir'

